body{
    background-color: #ED1C24  !important;
    background-image: url('/static/images/fondo5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto !important;
    width: auto !important;
}


.navbar{
    background-color: #003975df !important;
    margin-bottom: 200px;
}
.navbar a{
    color: white;
}
.navbar a.nav-link{
    color: white;
}
.navbar-brand.disabled{
    color: white;
}

#formulario{
    background-color: white;
    width: 50%;
    margin: 0px auto;
}


#Ingresar{
    width: 50%;
    margin: 0px auto;
    font-weight: bold;
    text-align: center;
    background-color: #003975;
    border: none;
}

h3{
    text-align: center;
    padding: 15px 0px 0px 0px;
    color: #003975;
    font-weight: bolder;
}
label{
    color: #003975;
    font-weight: bolder;
}

form{
    text-align: left;
}

.boton{
    text-align: center !important;
}

/*body{
    background-color: #ED1C24 !important;
    min-height: auto;
}

.navbar-custom {
    background-color: #003975;
}

.navbar-brand{
    color: white !important;
}

.navbar-nav li a {
    color: white !important;
}


.nav-link active{
    color: white;
}


#intro{
    background-image: url('/static/images/basquetbolmujeres_fondo.jpg');
    opacity: 0.7 !important;
    height: auto;
}

section{
    min-height: auto;
}

#cf{
    background-color: white !important;
    
}

h3{
    color: white;
}

.btn-primary{
    background-color: #ED1C24 !important;
}

input{
    background-color: white !important;
}

*/
#formulario {
    position: relative;
    width: 400px;
    padding: 30px 50px;
    background: #FFF;
    text-align: center;
    border-radius: 100% 100% 40px 40px / 35% 0% 40px 40px;
    /*border-radius: 100% 0% 0% 0% / 55% 0% 0% 0%;*/
}
#formulario::after {
    content: '';
    position: absolute;
    top: -160px;
    left: 0;
    right: 0;
    width: 100%;
    height: 420px;
    background-image: url('/static/images/loginFondo.jpg');
    background-position: top;
    background-size: contain; 
    border-radius: 20px;
    z-index: -11;
}
