body{
    background-color: #ED1C24  !important;
    background-image: url('/static/images/fondo2.png');
    height: auto !important;
    width: auto !important;
}

.navbar{
    background-color: #003975 !important;
}
.navbar a{
    color: white;
}
.navbar a.nav-link{
    color: white;
}
.navbar-brand.disabled{
    color: white;
}

#formulario{
    background-color: white;
    width: 50%;
    margin: 0px auto;
    border-radius: 20px;
   
}


#Ingresar{
    width: 50%;
    margin: 0px auto;
    font-weight: bold;
    text-align: center;
}

h3{
    text-align: center;
    padding: 15px 0px 0px 0px;
}

form{
    width: 80%;
    margin: 0px auto;
}

/*body{
    background-color: #ED1C24 !important;
    min-height: auto;
}

.navbar-custom {
    background-color: #003975;
}

.navbar-brand{
    color: white !important;
}

.navbar-nav li a {
    color: white !important;
}


.nav-link active{
    color: white;
}


#intro{
    background-image: url('/static/images/basquetbolmujeres_fondo.jpg');
    opacity: 0.7 !important;
    height: auto;
}

section{
    min-height: auto;
}

#cf{
    background-color: white !important;
    
}

h3{
    color: white;
}

.btn-primary{
    background-color: #ED1C24 !important;
}

input{
    background-color: white !important;
}

*/


@media screen and (max-width: 800px) {
    #formulario{
        width: 70%;
    }

}