
html { background-color: #000; } 
body {
    max-width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: papayawhip; 
    margin: 0 auto;
    font-family:'Montserrat', sans-serif !important;
}


.active{
    background-color: #0d77e8;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header{
    position: sticky !important;
    top:0;
}
.navbar-custom {
    background-color: #003975;
    
}
.tabs{
    padding: 0px !important;
    margin: 0px;
}
.header-box{
    padding: 16px 0px 24px !important;
}

.item{
    padding: 16px;
}
.navbar-brand{
    color: white !important;
}

#side_nav{
    position: fixed;
    top: 58px;
    left: 0;
    background: #003975b4;
    width: 300px;
    max-width: 300px;
    height: 100%;
}

.header-box{
    box-sizing: border-box !important;
    overflow: hidden !important;
}


.list-unstyled{
    font-size: 20px;
}

.burger{
    margin-left: 8px;
    cursor: pointer;
}


.menu-expanded{
    transition: all 1000ms ease;
    width: 350px !important;
}

.menu-collapsed{
    transition: all 500ms ease;
    width: 55px !important;
}

.menu-collapsed .header-box .tabs .item span{
    display: none;
}

header, #side_nav{
    z-index: 50;
}


/*DISEÑO  CONTENEDOR*/
body{
    /*min-height: 92vh;
    height: 100%;*/
    background: linear-gradient(rgba(237, 28, 36, .5), rgba(237, 28, 36, .5)),url('../images/basquetbolrecorte.jpg') !important; 
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top !important;
    background-attachment: fixed !important;
}

.box{
    height: 580px;
    background-color: #003975b4;
    
    margin: 22px auto;
    border-radius: 20px;
    
}
.card{
    width: 97%;
    height: 480px;
    margin: 0px auto;
    border-radius: 0px;
    background-color: #00397500;
    border: none;
}

#Tab2 .card{
    height: 520px;
}

.card-body{
    background-color: white;
    overflow: scroll;
    min-height: 100%;
    
}
.table{
    min-width: 1000px;
}

th{
    font-weight: bold !important;
}

#cabeza{
    border-bottom: 2px solid black; 
}

.card-header{
    padding: 15px 0px;
}

#btn-ver, #btn-editar{
    padding: 5px 0px;
    width: 25px;
}

/*DISEÑO TAB5 SOLICITUDES*/
#Tab5{
    display: flex;
    flex-wrap: wrap;
}


.solicitud{
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
    width: 530px;
    height: 285px;
    background-color: white;
    margin: 22px auto;
    border-radius: 20px;
}

.informacion{
    text-align: left !important;
    
}
.solicitud{
    padding: 0px 15px;
}
.padre {
    display: flex;
    align-items: center;
 }

.hijo{
    margin: 0px auto;
}
.img_comprobante, #img{
    height: 200px;
    width: 100%;
}

.etiquetas{
    color: black;
    font-weight: bold;
}
.datos{
    color: #003975;
    
}

.botones .col-12{
    margin-top: 10px;
    padding: 0px !important;
}
.test{
    margin-top: -8px !important;
    margin-bottom: 5px !important;
}

.modal-dialog{
    height: 100%;
    margin: 0px auto;
}

@media only screen and (max-width: 775px) {
    .informacion{
        margin-top: 10px;
        font-size: 14px;
    }
}
@media only screen and (max-width:600px) {
    #Titulo, #usuario{
        font-size: 15px !important;
    }
    .menu-collapsed, .menu-expanded{
        top:55px !important;
        transition: all 250ms ease !important;
    }
    .menu-collapsed{
       
        width: 0px !important;
    }
}

@media only screen and (max-width: 500px) {
    .informacion{
        margin-top: 30px;
        font-size: 12px;
    }

    .informacion .btn{
        width: 80px;
        height: 30px;
        font-size: 8px;
        padding: 10px 0px;
        text-align: center;
    }

    .padre .etiquetas{

        font-size: 12px;
    }
}


@media only screen and (max-width:475px) {
    #Titulo, #usuario{
        font-size: 10px !important;
    }
}

@media only screen and (height: 680px) {
    .box{
        height: 500px !important;
    }
}


